.projectParent {
    background-color: #aaaa88;
    border: 5px solid #444400;
    width: fit-content;
    height: fit-content;
    max-width: 1500px;
    text-align: center;
    margin: auto;
}

.projectElement {
    display: inline-block;
    margin: 50px 20px 50px 20px;
    border: 2px solid #000000;
    padding: 3px 3px 3px 3px;
    max-width: 200px;
    height: fit-content;
    background-color: #443300;
    color: #fff;
    box-shadow: inset 5px 5px 2px rgba(255, 255, 255, 0.2), inset -5px -5px 2px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient( to top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0) );
}

.projectElement:hover 
{
    background-color: #4a3a00;
}

.projectElement:active
{
    box-shadow: inset 5px 5px 2px rgba(0, 0, 0, 0.2), inset -5px -5px 2px rgba(255, 255, 255, 0.2);
    background-image: linear-gradient( to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0));
}

.boxText
{
    margin: 5px 10px 5px 10px;
}

.projectElement a:link
{
    color: #fff;
}
.projectElement a:visited
{
    color: #fff;
}
.projectElement a:hover
{
    color: #aaa;
}
.projectElement a:active
{
    color: #222;
}

.descriptionText 
{
    text-align: center;
    color: #fff;
	margin-left: 25%;
	margin-right: 25%;
}

.bigText
{
	background-color: #000;
	text-align: center;
	color: #0ff;
	margin: 0 10% 0 10%;
	border: 2px solid #fff;
	padding: 10px 10px 10px 10px;
	overflow-wrap: anywhere;
}

.pageButton 
{
    border: 0;
    background-color: #443300;
    width: fit-content;
    float: inherit;
    min-width: 100px;
    min-height: 50px;
    color: #ffffff;
    font-size: 1rem;
    box-shadow: inset -5px -5px 2px rgba(0, 0, 0, 0.2), inset 5px 5px 2px rgba(255, 255, 255, 0.2);
    background-image: linear-gradient( to top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0) );
}
.pageButton:hover
{
    background-color: #4a3a00;
}
.pageButton:active 
{
    box-shadow: inset 5px 5px 2px rgba(0, 0, 0, 0.2), inset -5px -5px 2px rgba(255, 255, 255, 0.2);
    background-image: linear-gradient( to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0));
}

.clickButtons
{
	margin: 0 0 0 30%;
	display: inline-block;
}

.homeButtons
{
	margin: -8px 8px 0px -8px;
	display: inline-block;
}